<section class="jumbotron">
	<h1><%= @project.title %></h1>
	<p><%= @project.description %></p>
</section>

<%= link_to 'Nueva Clave', new_project_key_path(@project) %>

<section class="row">
	<% @project.keys.each do |key| %>
		<article class="col-md-6 col-keys">
				<%= link_to key.title, [@project,key] %>
				<span class="pull-right">
					<%= link_to '', edit_project_key_path(@project, key), class: 'btn btn-xs btn-info glyphicon glyphicon-pencil' %>
					<%= link_to '', [@project,key], method: :delete, data: { confirm: 'Estas seguro?'}, class: 'btn btn-xs btn-info glyphicon glyphicon-trash' %>
				</span>
		</article>
	<%end%>
</section>
